body {
    width: 100%;
    position: relative;
    background: linear-gradient(0deg, rgb(41, 39, 39), rgb(37, 36, 36));
}


/* for laptop screens */

@media only screen and (min-width:1024px) and (max-width:1439px) {

    .nav-bar {
        background: linear-gradient(0deg, rgb(41, 39, 39), rgb(37, 36, 36));
        width: 4%;
        z-index: 100;
        height: auto;
        position: sticky;
        top: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        margin-right: 39px;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
    }

    .nav-menu>li>a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 10%;
        padding: 10px 0;


    }

    .nav-menu>li {
        margin: 9px 0;
        padding: 10px 0;
        color: #fff;

    }

    .nav-bar:hover {
        width: 20%;
    }

    .nav-bar:hover .name>h5 {
        visibility: visible;
    }

    .nav-bar:hover .nav-menu>li>a {
        width: 100%;
    }

    .nav-menu>li>a:hover {
        background-color: rgb(61, 59, 59);
        border-radius: 5px;
    }

    .main-content {
        overflow: hidden;
        overflow-y: scroll;
        height: 900px;
        padding: 30px;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }

    .first-container {
        height: 200px;
        background-color: rgb(53, 49, 49);
        padding: 10px;
    }

    .second-container {
        height: 500px;
    }
}












/* only desktop screens */

@media only screen and (min-width:1440px) and (max-width:2159px) {

    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 4%;
        z-index: 100;
        height: 1230px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        margin-right: 39px;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
    }

    .nav-menu>li>a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 10%;
        padding: 10px 0;


    }

    .nav-menu>li {
        margin: 9px 0;
        padding: 10px 0;
        color: #fff;

    }

    .nav-bar:hover {
        width: 10%;
    }

    .nav-bar:hover .name>h5 {
        visibility: visible;
    }

    .nav-bar:hover .nav-menu>li>a {
        width: 100%;
    }

    .nav-menu>li>a:hover {
        background-color: rgb(61, 59, 59);
        border-radius: 5px;
    }
    /* nav logo bar */

    .img-logo-nav
    {
        position: absolute;
        bottom: 300px;
        left: -20px;
    }
    .main-content {
        background: rgb(15, 16, 20);
        display: flex;
        flex-direction: column;
        height: 1230px;
        position: fixed;
        width: 96%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }

    .first-container {
        width: 93%;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        margin: 0px auto;
        background: #16181f;
        border-radius: 7px;
    }

    .second-container {
        width: 99.5%;
        margin: 10px 0 4px 50px;
        padding: 20px;
    }

    .blur {
        border-left: 1px solid rgba(22, 24, 31, 0.2);
        border-radius: 12px;
    }

    .top-button {
        max-width: 48px;
        overflow: hidden;
    }

    /* content top button */
    .content-top {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        align-items: center;
        height: 150px;
    }



    /* add button */

    .ad-btn>h3 {
        background-color: #ffcc75;
        font-size: 0.7rem;
        padding: 3px;
        width: 20px;
        margin-top: 14px;
        color: rgb(56, 51, 51);
        position: relative;
    }

    .ad-btn>p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #8f98b2;
    }

    .ad-btn>h4 {
        position: absolute;
        top: 68px;
        left: 770px;
    }

    .container-add-details {
        position: absolute;
        left: 674px;
        top: 133px;
        font-size: 16px;
        font-weight: 400;
    }

    .btn-install {
        position: absolute;
        left: 674px;
        top: 200px;

    }

    .install {
        background-color: #252833;
        color: #e1e6f0;
        padding: 15px 70px;
        border-radius: 9px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
    }

    /* secondary modules */

    .img-background
    {
        height: 100px;
        text-align: center;
    }
    .button-ctrl
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;     
    }
    .button-arrow1
    {
        position: absolute;
        top: 90px;
        left: 10px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .button-arrow2
    {
        position: absolute;
        left: 1690px;
        top: 90px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .box1
    {
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        overflow: hidden;
        scroll-behavior: smooth;
        width: 91.4%;
        margin-left: 52px ;
        transition: all 2s ease-in-out;
    }
    .box1>a>img
    {
        border-radius: 5px;
    }

    /* BOX 2 container */

    .button-ctrl1
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;     
    }
    .button-arrow3
    {
        position: absolute;
        top: 90px;
        left: 10px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .button-arrow4
    {
        position: absolute;
        left: 1690px;
        top: 90px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .box2
    {
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        overflow: hidden;
        scroll-behavior: smooth;
        width: 91.4%;
        margin-left: 52px ;
        transition: all 2s ease-in-out;
    }
    .box2>a>img
    {
        border-radius: 5px;
    }
/* BOX 3 container */

    .button-ctrl2
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;     
    }
    .button-arrow5
    {
        position: absolute;
        top: 90px;
        left: 10px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .button-arrow6
    {
        position: absolute;
        left: 1690px;
        top: 90px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .box3
    {
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        overflow: hidden;
        scroll-behavior: smooth;
        width: 91.4%;
        margin-left: 52px ;
        transition: all 2s ease-in-out;
    }
    .box3>a>img
    {
        border-radius: 5px;
    }
    /* BOX 4 container */

    .button-ctrl3
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;     
    }
    .button-arrow7
    {
        position: absolute;
        top: 90px;
        left: 10px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .button-arrow8
    {
        position: absolute;
        left: 1690px;
        top: 90px;
        font-size: 2rem;
        background-color: transparent;
        border: transparent;
        color: #fff;
    }
    .box4
    {
        display: flex;
        column-gap: 12px;
        overflow-x: scroll;
        overflow: hidden;
        scroll-behavior: smooth;
        width: 91.4%;
        margin-left: 52px ;
        transition: all 2s ease-in-out;
    }
    .box4>a>img
    {
        border-radius: 5px;
    }

}