/* mobile screen sm width */
@media only screen and (min-width:100px) and (max-width:399px) {
    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 100%;
        display: flex;
        padding: 3px 0;
        z-index: 100;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        display: none;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 10px;
        display: flex;
    }

    .nav-menu>li>a {
        color: #fff;
        text-decoration: none;
    }

    .nav-menu>li {
        margin: 0 11px;
    }


    /* nav logo bar */

    .img-logo-nav {
        display: none;
    }

    .main-content {
        background: rgb(15, 16, 20);
        height: 1214px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }

   .movie-img {
        width: 100px;
        height: 140px;
        object-fit: cover;
        margin-right: 12px;
        vertical-align: middle;
        border-radius: 4px;
        background: #eee;
    }

    .movie-link {
        display: flex;
        align-items: center;
    }
    .input>h1
    {
        color: #fff;
        text-align: center;
    }

    body {
        font-family: Arial, sans-serif;
    }
    ::placeholder {
        
        opacity: 0.7;
        text-align: center;
    }

    .search-bar {
        width: 90%;
        padding: 10px;
        margin-left: 20px;
        border-radius: 12px;
        border: none;
    }
    .search-bar:focus,.search-bar:hover {
        outline: none;
        border: 2px solid #ff4343;
    }

    .input>ul {
        list-style: none;
        padding: 10px;
        width: 90%;
        margin: auto;
    }

    li {
        margin: 8px 0;
    }

    a {
        text-decoration: none;
        color: #ff4343;
    }

    a:hover {
        color: yellow;
    }


    .unlist>li {
        list-style-type: none;
        margin-left: 20px;
    }

    .fa-instagram {
        color: #fff;
        background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-facebook {
        color: #fff;
        background-color: #1877F2;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-youtube {
        color: #FF0000;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-telegram {
        color: dodgerblue;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-whatsapp {
        color: #fff;
        background-color: #25D366;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .footer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-bar {
        visibility: hidden;
    }

    .footer-nav-bar>span {
        margin: 0 200px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .text-conect {
        text-align: start;
        color: #fff;
        padding: 10px;

    }

    .footer-nav-bar>li {
        margin: 0 20px;
    }

    .footer-nav-bar a {
        color: #ffff;
        text-decoration: none;
        position: relative;
        padding: 6px 0;
    }

    .footer-nav-bar a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ff4343;
        height: 2px;
        border-radius: 12px;
        width: 0%;
        transition: width 0.6s ease-in-out;
    }

    .footer-nav-bar a:hover:before {
        width: 100%;
        transition: width 0.6s ease-in-out;
    }
}

/* mobile screen md and lg width */
@media only screen and (min-width:400px) and (max-width:767px) {
    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 100%;
        display: flex;
        z-index: 100;
        height: 79px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        display: none;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
        display: flex;
    }

    .nav-menu>li>a {
        color: #fff;
        text-decoration: none;


    }

    .nav-menu>li {
        margin: 0 12px;
        padding: 10px 0;
        color: #fff;

    }


    /* nav logo bar */

    .img-logo-nav {
        display: none;
    }

    .main-content {
        background: rgb(15, 16, 20);
        height: 1143px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }



    .movie-img {
        width: 100px;
        height: 140px;
        object-fit: cover;
        margin-right: 12px;
        vertical-align: middle;
        border-radius: 4px;
        background: #eee;
    }

    .movie-link {
        display: flex;
        align-items: center;
    }
    .input>h1
    {
        color: #fff;
        text-align: center;
    }

    body {
        font-family: Arial, sans-serif;
    }

    ::placeholder {
        
        opacity: 0.7;
        text-align: center;
    }

    .search-bar {
        width: 90%;
        padding: 10px;
        margin-left: 20px;
        border-radius: 12px;
        border: none;
    }
    .search-bar:focus,.search-bar:hover {
        outline: none;
        border: 2px solid #ff4343;
    }
   

    .input>ul {
        list-style: none;
        padding: 10px;
        width: 90%;
        margin: auto;
    }

    li {
        margin: 8px 0;
    }

    a {
        text-decoration: none;
        color: #ff4343;
    }

    a:hover {
        color: yellow;
    }













































    .unlist>li {
        list-style-type: none;
        margin-left: 20px;
    }

    .fa-instagram {
        color: #fff;
        background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-facebook {
        color: #fff;
        background-color: #1877F2;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-youtube {
        color: #FF0000;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-telegram {
        color: dodgerblue;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-whatsapp {
        color: #fff;
        background-color: #25D366;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .footer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-bar {
        visibility: hidden;
    }

    .footer-nav-bar>span {
        margin: 0 200px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .text-conect {
        text-align: start;
        color: #fff;
        padding: 10px;

    }

    .footer-nav-bar>li {
        margin: 0 20px;
    }

    .footer-nav-bar a {
        color: #ffff;
        text-decoration: none;
        position: relative;
        padding: 6px 0;
    }

    .footer-nav-bar a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ff4343;
        height: 2px;
        border-radius: 12px;
        width: 0%;
        transition: width 0.6s ease-in-out;
    }

    .footer-nav-bar a:hover:before {
        width: 100%;
        transition: width 0.6s ease-in-out;
    }
}

/* tablet screen width */

@media only screen and (min-width:768px) and (max-width:1023px) {
    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 100%;
        display: flex;
        z-index: 100;
        height: 79px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        display: none;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
        display: flex;
    }

    .nav-menu>li>a {
        color: #fff;
        text-decoration: none;


    }

    .nav-menu>li {
        margin: 0 12px;
        padding: 10px 40px;
        color: #fff;

    }


    /* nav logo bar */

    .img-logo-nav {
        display: none;
    }

    .main-content {
        background: rgb(15, 16, 20);
        height: 1368px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }

    
    .movie-img {
        width: 100px;
        height: 140px;
        object-fit: cover;
        margin-right: 12px;
        vertical-align: middle;
        border-radius: 4px;
        background: #eee;
    }

    .movie-link {
        display: flex;
        align-items: center;
    }
    .input>h1
    {
        color: #fff;
        text-align: center;
    }

    body {
        font-family: Arial, sans-serif;
    }

    ::placeholder {
        
        opacity: 0.7;
        text-align: center;
    }

    .search-bar {
        width: 90%;
        padding: 10px;
        margin-left: 20px;
        border-radius: 12px;
        border: none;
    }
    .search-bar:focus,.search-bar:hover {
        outline: none;
        border: 2px solid #ff4343;
    }

    .input>ul {
        list-style: none;
        padding: 10px;
        width: 90%;
        margin: auto;
    }

    li {
        margin: 8px 0;
    }

    a {
        text-decoration: none;
        color: #ff4343;
    }

    a:hover {
        color: yellow;
    }




    .unlist>li {
        list-style-type: none;
        margin-left: 20px;
    }

    .fa-instagram {
        color: #fff;
        background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-facebook {
        color: #fff;
        background-color: #1877F2;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-youtube {
        color: #FF0000;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-telegram {
        color: dodgerblue;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-whatsapp {
        color: #fff;
        background-color: #25D366;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .footer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-bar {
        visibility: hidden;
    }

    .footer-nav-bar>span {
        margin: 0 200px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .text-conect {
        text-align: start;
        color: #fff;
        padding: 10px;

    }

    .footer-nav-bar>li {
        margin: 0 20px;
    }

    .footer-nav-bar a {
        color: #ffff;
        text-decoration: none;
        position: relative;
        padding: 6px 0;
    }

    .footer-nav-bar a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ff4343;
        height: 2px;
        border-radius: 12px;
        width: 0%;
        transition: width 0.6s ease-in-out;
    }

    .footer-nav-bar a:hover:before {
        width: 100%;
        transition: width 0.6s ease-in-out;
    }

}
/* laptop screen widht */

@media only screen and (min-width:1024px) and (max-width:1439px) {

    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 6.6%;
        z-index: 100;
        height: 1230px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        margin-right: 39px;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
    }

    .nav-menu>li>a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 10%;
        padding: 10px 0;


    }

    .nav-menu>li {
        margin: 9px 0;
        padding: 10px 0;
        color: #fff;

    }

    .nav-bar:hover {
        width: 10%;
    }

    .nav-bar:hover .name>h5 {
        visibility: visible;
    }

    .nav-bar:hover .nav-menu>li>a {
        width: 100%;
    }

    .nav-menu>li>a:hover {
        background-color: rgb(61, 59, 59);
        border-radius: 5px;
    }

    /* nav logo bar */

    .img-logo-nav {
        position: absolute;
        bottom: 300px;
        left: -20px;
    }

    .main-content {
        background: rgb(15, 16, 20);
        display: flex;
        flex-direction: column;
        height: 1400px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }
    
    .movie-img {
        width: 100px;
        height: 140px;
        object-fit: cover;
        margin-right: 12px;
        vertical-align: middle;
        border-radius: 4px;
        background: #eee;
    }

    .movie-link {
        display: flex;
        align-items: center;
    }
    .input>h1
    {
        color: #fff;
        text-align: center;
    }
    .input
    {
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    ::placeholder {
        
        opacity: 0.7;
        text-align: center;
    }

    .search-bar {
        width: 100%;
        padding: 10px;
        margin: auto;
        border-radius: 12px;
        border: none;
    }
    .search-bar:focus,.search-bar:hover {
        outline: none;
        border: 2px solid #ff4343;
    }

    .input>ul {
        list-style: none;
        padding: 10px;
        width: 90%;
        margin: auto;
    }

    li {
        margin: 8px 0;
    }

    a {
        text-decoration: none;
        color: #ff4343;
    }

    a:hover {
        color: yellow;
    }


    


































    .unlist>li {
        list-style-type: none;
        margin-left: 20px;
    }

    .fa-instagram {
        color: #fff;
        background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-facebook {
        color: #fff;
        background-color: #1877F2;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-youtube {
        color: #FF0000;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-telegram {
        color: dodgerblue;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-whatsapp {
        color: #fff;
        background-color: #25D366;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .footer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style-type: none;
    }

    .footer-nav-bar>span {
        margin: 0 200px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .text-conect {
        text-align: start;
        color: #fff;
        padding: 10px;

    }

    .footer-nav-bar>li {
        margin: 0 20px;
    }

    .footer-nav-bar a {
        color: #ffff;
        text-decoration: none;
        position: relative;
        padding: 6px 0;
    }

    .footer-nav-bar a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ff4343;
        height: 2px;
        border-radius: 12px;
        width: 0%;
        transition: width 0.6s ease-in-out;
    }

    .footer-nav-bar a:hover:before {
        width: 100%;
        transition: width 0.6s ease-in-out;
    }

}



/* desktop screen width */

@media only screen and (min-width:1440px) and (max-width:2159px) {

    body::-webkit-scrollbar {
        display: none;
    }

    .nav-bar {
        background: rgb(15, 16, 20);
        width: 6.6%;
        z-index: 100;
        height: 1230px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .user-icon {
        margin-bottom: 15px;
        margin-left: 18px;
        font-size: 1rem;
    }

    .nav-header {
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        margin-right: 39px;
    }

    .name>h5 {
        font-size: 14px;
        margin-left: 12px;
        text-transform: capitalize;
        visibility: hidden;
    }

    .name>h5>p {
        color: #ff4343;
    }

    .space {
        padding: 0 12px;
    }

    .space1 {
        padding: 0;
    }



    .nav-menu {
        list-style: none;
        padding: 15px;
    }

    .nav-menu>li>a {
        display: block;
        color: #fff;
        text-decoration: none;
        width: 10%;
        padding: 10px 0;


    }

    .nav-menu>li {
        margin: 9px 0;
        padding: 10px 0;
        color: #fff;

    }

    .nav-bar:hover {
        width: 10%;
    }

    .nav-bar:hover .name>h5 {
        visibility: visible;
    }

    .nav-bar:hover .nav-menu>li>a {
        width: 100%;
    }

    .nav-menu>li>a:hover {
        background-color: rgb(61, 59, 59);
        border-radius: 5px;
    }

    /* nav logo bar */

    .img-logo-nav {
        position: absolute;
        bottom: 300px;
        left: -20px;
    }

    .main-content {
        background: rgb(15, 16, 20);
        display: flex;
        flex-direction: column;
        height: 1100px;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        overflow-y: scroll;
    }

    .container-content::-webkit-scrollbar {
        display: none;
    }

    .movie-img {
        width: 100px;
        height: 140px;
        object-fit: cover;
        margin-right: 12px;
        vertical-align: middle;
        border-radius: 4px;
        background: #eee;
    }

    .movie-link {
        display: flex;
        align-items: center;
    }
    .input>h1
    {
        color: #fff;
        text-align: center;
    }
    .input
    {
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    ::placeholder {
        
        opacity: 0.7;
        text-align: center;
    }

    .search-bar {
        width: 100%;
        padding: 10px;
        margin: auto;
        border-radius: 12px;
        border: none;
    }
    .search-bar:focus,.search-bar:hover {
        outline: none;
        border: 2px solid #ff4343;
    }

    .input>ul {
        list-style: none;
        padding: 10px;
        width: 90%;
        margin: auto;
    }

    li {
        margin: 8px 0;
    }

    a {
        text-decoration: none;
        color: #ff4343;
    }

    a:hover {
        color: yellow;
    }

    .unlist>li {
        list-style-type: none;
        margin-left: 20px;
    }

    .fa-instagram {
        color: #fff;
        background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-facebook {
        color: #fff;
        background-color: #1877F2;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-youtube {
        color: #FF0000;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-telegram {
        color: dodgerblue;
        background-color: #fff;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .fa-whatsapp {
        color: #fff;
        background-color: #25D366;
        font-size: 21px;
        padding: 4px 5px;
        border-radius: 3px;
    }

    .footer-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style-type: none;
    }

    .footer-nav-bar>span {
        margin: 0 200px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
    }

    .text-conect {
        text-align: start;
        color: #fff;
        padding: 10px;

    }

    .footer-nav-bar>li {
        margin: 0 20px;
    }

    .footer-nav-bar a {
        color: #ffff;
        text-decoration: none;
        position: relative;
        padding: 6px 0;
    }

    .footer-nav-bar a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #ff4343;
        height: 2px;
        border-radius: 12px;
        width: 0%;
        transition: width 0.6s ease-in-out;
    }

    .footer-nav-bar a:hover:before {
        width: 100%;
        transition: width 0.6s ease-in-out;
    }

}